{%- if page.layout contains 'listing-page' -%}
  {%- assign is_listing_page = true -%}
{%- endif -%}

{%- if page.layout == 'plain-text-post' -%}
  {%- assign is_plain_text_post = true -%}
{%- endif -%}

{%- comment -%}
  # If no `charset` is specified (or `nil` is specified), sets the default encoding. If `false` or an empty string is specified, leaves it as is. (If it is false, no `<meta charset="...">` tag is output. If empty, outputs the meta tag with an empty value.)
{%- endcomment -%}
{%- assign charset = page.charset -%}
{%- if charset == nil -%}
  {%- assign charset = site.charset -%}
  {%- if charset == nil -%}
    {%- assign charset = 'utf-8' -%}
  {%- endif -%}
{%- endif -%}

{%- assign color_scheme = page.color_scheme -%}
{%- if color_scheme == nil -%}
  {%- assign color_scheme = site.color_scheme -%}
  {%- if color_scheme == nil -%}
    {%- assign color_scheme = 'light dark' -%}
  {%- endif -%}
{%- endif -%}

{%- assign viewport = page.viewport -%}
{%- if viewport == nil -%}
  {%- assign viewport = site.viewport -%}
  {%- if viewport == nil -%}
    {%- assign viewport = 'width=device-width, initial-scale=1' -%}
  {%- endif -%}
{%- endif -%}

{%- assign canonical_url = page.canonical_url -%}
{%- if canonical_url == nil -%}
  {%- assign canonical_url = site.canonical_url -%}
  {%- if canonical_url == nil -%}
    {%- assign canonical_url = page.url | absolute_url -%}
  {%- endif -%}
{%- endif -%}

{%- assign license_url = page.license_url -%}
{%- if license_url == nil -%}
  {%- assign license_url = site.license_url -%}
{%- endif -%}

    {%- if charset %}
    <meta charset="{{- charset -}}">
    {%- endif -%}

    {%- if color_scheme %}
    <meta name="color-scheme" content="{{- color_scheme -}}">
    {%- endif -%}

    {%- if viewport %}
    <meta name="viewport" content="{{- viewport -}}">
    {%- endif %}
    <title>
      {%- if is_listing_page -%}
        {{- site.title -}}
      {%- elsif is_plain_text_post -%}
        {%- comment -%}
          # On the plain text post page, sets the decoded canonical URL as the title. Converts all "+" to "%2B" so that they become "+" after decoding. ("+" is not encoded in `canonical_url`, while `url_decode` decodes it to a space.)
        {%- endcomment -%}
        {{- canonical_url | replace: '+', '%2B' | url_decode -}}
      {%- else -%}
        {{- page.title -}}
      {%- endif -%}
    </title>

    {%- if canonical_url %}
    <link rel="canonical" href="{{- canonical_url -}}">
    {%- endif -%}

    {%- if license_url %}
    <link rel="license" href="{{- license_url -}}">
    {%- endif -%}

    {%- if is_plain_text_post %}
    <style>{% include plain-text-post.css %}    </style>
    {%- endif %}
