{%- if page.layout contains 'index' -%}
  {%- assign is_index = true -%}
{%- endif -%}

{%- if page.layout == 'post' -%}
  {%- assign is_post = true -%}
{%- endif -%}

{%- assign charset = page.charset -%}
{%- if charset == nil -%}{%- assign charset = site.charset -%}
{%- if charset == nil -%}{%- assign charset = 'utf-8' -%}
{%- endif -%}{%- endif -%}

{%- assign color_scheme = page.color_scheme -%}
{%- if color_scheme == nil -%}{%- assign color_scheme = site.color_scheme -%}
{%- if color_scheme == nil -%}{%- assign color_scheme = 'light dark' -%}
{%- endif -%}{%- endif -%}

{%- assign viewport = page.viewport -%}
{%- if viewport == nil -%}{%- assign viewport = site.viewport -%}
{%- if viewport == nil -%}{%- assign viewport = 'width=device-width, initial-scale=1' -%}
{%- endif -%}{%- endif -%}

{%- assign canonical_url = page.canonical_url -%}
{%- if canonical_url == nil -%}{%- assign canonical_url = site.canonical_url -%}
{%- if canonical_url == nil -%}{%- assign canonical_url = page.url | absolute_url -%}
{%- endif -%}{%- endif -%}

{%- assign license_url = page.license_url -%}
{%- if license_url == nil -%}{%- assign license_url = site.license_url -%}
{%- endif -%}

    {%- if charset %}
    <meta charset="{{- charset -}}">
    {%- endif -%}

    {%- if color_scheme %}
    <meta name="color-scheme" content="{{- color_scheme -}}">
    {%- endif -%}

    {%- if viewport %}
    <meta name="viewport" content="{{- viewport -}}">
    {%- endif %}
    <title>
      {%- if is_index -%}
        {{- site.title -}}
      {%- elsif is_post -%}
        {{- canonical_url
            | remove_first: 'https://www.'
            | remove_first: 'http://www.'
            | remove_first: 'https://'
            | remove_first: 'http://'
            | replace: '+', '%2B'
            | url_decode -}}
      {%- else -%}
        {{- page.title -}}
      {%- endif -%}
    </title>

    {%- if canonical_url %}
    <link rel="canonical" href="{{- canonical_url -}}">
    {%- endif -%}

    {%- if license_url %}
    <link rel="license" href="{{- license_url -}}">
    {%- endif -%}

    {%- if page.stylesheet %}
    <style>{% include {{ page.stylesheet }} %}    </style>
    {%- elsif is_post %}
    <style>{% include post.css %}    </style>
    {%- endif %}
