    {%- if charset %}
    <meta charset="{{- charset -}}">
    {%- endif -%}

    {%- if color_scheme %}
    <meta name="color-scheme" content="{{- color_scheme -}}">
    {%- endif -%}

    {%- if viewport %}
    <meta name="viewport" content="{{- viewport -}}">
    {%- endif -%}

    {%- if title %}
    <title>{{- title -}}</title>
    {%- endif -%}

    {%- if canonical_url %}
    <link rel="canonical" href="{{- canonical_url -}}">
    {%- endif -%}

    {%- if license_url %}
    <link rel="license" href="{{- license_url -}}">
    {%- endif -%}

    {%- for stylesheet in stylesheets %}
    <style>{%- include {{ stylesheet }} %}    </style>
    {%- endfor -%}
