{%- case page.layout -%}
  {%- when 'home' -%}
    {%- assign is_home = true -%}
  {%- when 'page' -%}
    {%- assign is_page = true -%}
{%- endcase -%}

{%- assign canonical_url = page.url | absolute_url -%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {%- if is_home -%}
        {{- site.title -}}
      {%- else -%}
        {{- canonical_url -}}
      {%- endif -%}
    </title>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="license" href="{{ site.license_url }}">
    {%- if is_page %}
    <style>
      pre {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        white-space: break-spaces;
      }
    </style>
    {%- endif %}
  </head>
  <body>
{{ content }}  </body>
</html>
