{%- case page.layout -%}
  {%- when 'home' -%}
    {%- assign is_home = true -%}
  {%- when 'post-page' -%}
    {%- assign is_post_page = true -%}
{%- endcase -%}

{%- assign lang = page.lang | default: site.lang -%}

{%- assign canonical_url = page.url | absolute_url -%}

<!DOCTYPE html>
<html{%- if lang -%} lang="{{- lang -}}"{%- endif -%}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {%- if is_home -%}
        {{- site.title -}}
      {%- else -%}
        {%- comment -%}
          The character "+" is not escaped in `canonical_url`, but `url_decode`
          decodes "+" to a space, so do the following.
        {%- endcomment -%}
        {{- canonical_url | replace: '+', '%2B' | url_decode -}}
      {%- endif -%}
    </title>
    <link rel="canonical" href="{{- canonical_url -}}">

    {%- if site.license_url %}
    <link rel="license" href="{{- site.license_url -}}">
    {%- endif -%}

    {%- if is_post_page %}
    <style>
      pre {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        white-space: break-spaces;
      }
    </style>
    {%- endif -%}

    {%- comment -%}
      Whitespace below this will be printed.
    {%- endcomment %}
  </head>
  <body>
{{ content }}  </body>
</html>
