<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.layout == 'home' %}{{ site.title }}{% else %}{{ page.url | absolute_url }}{% endif %}</title>
    <style>
      pre {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        white-space: break-spaces;
      }
    </style>
  </head>
  <body>
    <pre>{{ content | rstrip }}
</pre>
  </body>
</html>
