---
layout: default
---

    <ul>
      {%- comment -%}
        Sort the pages by date from newest to oldest.
        First, sort the pages in ASCII order by date (same as from oldest to newest), with those
        with no date (a nil date) last, and then reverse them.
        As a result, the pages with no date come first, followed by the newest pages.
      {%- endcomment -%}
      {%- assign pages_by_date = site.pages | sort: 'date', 'last' | reverse -%}

      {%- for page in pages_by_date -%}
      <li><b>{{- page | layout -}}</b></li>
        {%- if page.layout == 'post-page' %}
      <li>
          {%- assign url = page.url | remove_first: '/' -%}

          {%- comment -%}
            Convert the date to the ISO 8601 format.
          {%- endcomment -%}
          {%- assign date = page.date | date_to_xmlschema | replace_first: '+00:00', 'Z' -%}

          {%- comment -%}
            Remove the extension from the filename and use it as the title.
          {%- endcomment -%}
          {%- assign splits = page.name | split: '.' -%}
          {%- assign end = splits | size | minus: 1 -%}
          {%- assign title = splits | slice: 0, end | join: '.' %}
        <a href="{{- url -}}"
           {%- if page.date %} data-date="{{- date -}}"{%- endif -%}
        >
          {{- title -}}
        </a>
      </li>
        {%- endif -%}
      {%- endfor %}
    </ul>
