---
layout: default
---

    <ul>
      {%- for post in site.posts -%}
        {%- comment -%} WHITESPACE {%- endcomment %}
      <li>
        {{- post | inspect -}}
      </li>
      <li>
        {%- assign url = post.url | remove_first: '/' -%}

        {%- assign date = post.date | date_to_xmlschema | replace_first: '+00:00', 'Z' -%}

        {%- comment -%} WHITESPACE {%- endcomment %}
        <a href="{{- url -}}"
          {%- if post.date %} data-date="{{- date -}}"{%- endif -%}
        >
          {{- post.slug -}}
        </a>
      </li>
      {%- endfor -%}

      {%- comment -%} WHITESPACE {%- endcomment %}
    </ul>
