---
layout: default
---

    <ul>
      {%- comment -%}
        The pages sorted by date from newest to oldest.
        First, sort the pages in ASCII order by date (same as from oldest to newest), with those
        with no date (a nil date) last, and then reverse them.
        As a result, the pages with no date come first, followed by the newest pages.
      {%- endcomment -%}
      {%- assign pages_by_date = site.pages | sort: 'date', 'last' | reverse -%}

      {%- for page in pages_by_date -%}
        {%- if page.layout == 'post-page' %}
      <li><b>{{- page | inspect -}}</b></li>
      <li>
          {%- assign url = page.url | remove_first: '/' -%}
          
          {%- assign data_date = page.date | date_to_xmlschema | replace_first: '+00:00', 'Z' -%}

          {%- comment -%}
            Use the filename with the extension removed as the title.
            It is almost the same as
              {%- assign title = page.name | remove_first: '.md' -%}
            but it works correctly even if there is '.md' in the middle of the filename. It is also
            written in a more generic way so that it will work even when other extensions are
            supported.
          {%- endcomment -%}
          {%- assign splits = page.name | split: '.' -%}
          {%- assign end = splits | size | minus: 1 -%}
          {%- assign title = splits | slice: 0, end %}
        <a href="{{- url -}}"
           {%- if page.date %} data-date="{{- data_date -}}"{%- endif -%}
        >
          {{- title -}}
        </a>
      </li>
        {%- endif -%}
      {%- endfor %}
    </ul>
